.App {
  	text-align: center;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
}

nav ul {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

ul#senatorsList {
	list-style: none;
}

	ul#senatorsList li {
		border-bottom: 1px solid #e3e3e3;
		margin: 7px 0px;
	}

ul#senatorsList li span {
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin: 0px 0px 7px 0px;
}
